In [5]:
import pandas as pd

# 1. Data Types in Pandas

There are two type of data types in Pandas. 
- series (1-dimensional)
- dataframe (2-dimentional)

## Series

In [6]:
colors = pd.Series(["Red" , "Blue" , "White"])
colors

0      Red
1     Blue
2    White
dtype: object

In [7]:
series = pd.Series(["BMW" , "Toyota" , "Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

## DataFrame

In [8]:
car_data = pd.DataFrame({"Car make" : series , "Colors" : colors})
car_data

  Car make Colors
0      BMW    Red
1   Toyota   Blue
2    Honda  White

### Importing CSV

In [9]:
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

### Exporting CSV

In [10]:
car_sales.to_csv("exported_car_sales.csv")

# 2. Describing Data with pandas

## Attributes

In [13]:
# 1.dtypes : dtypes will tell us the data type of columns in a dataframe
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [14]:
# 2. columns  : it will give us all the column name in a data frame
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [16]:
# 3. index : it will give us the starting index , stoping index and increment steps
car_sales.index

RangeIndex(start=0, stop=10, step=1)

## Functions

In [17]:
# 1. describe : it gives us some staticstical information about data
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [19]:
# 2. info() : it is much like index combined with dtypes
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [20]:
#  3. mean() : it will give the mean of all columns(with integers value only)
car_sales.mean()

C:\Users\Hrittik\AppData\Local\Temp\ipykernel_2832\1607774195.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  car_sales.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [21]:
# 4. sum() : sum of all val in a column
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [22]:
# we can do attribute and functions in a single colunms also
car_sales["Doors"].sum()

40

In [23]:
# 5. len : getting length of dataframe (no of rows)
len(car_sales)

10